<div class="text-center mt-3">
  <h2>
    {{
      predicate === "invided"
        ? "Members I invide"
        : predicate === "invidedBy"
        ? "Members who invided me"
        : "My Friends"
    }}
  </h2>
</div>

<div class="container mt-3">
  <div class="d-flex">
    <div class="btn-group" name="predicate">
      <button
        class="btn btn-primary"
        btnRadio="invided"
        [(ngModel)]="predicate"
        (click)="loadInvitations()"
      >
        Members I invide
      </button>

      <button
        class="btn btn-primary"
        btnRadio="invidedBy"
        [(ngModel)]="predicate"
        (click)="loadInvitations()"
      >
        Members who invide me
      </button>

      <button
        class="btn btn-primary"
        btnRadio="friends"
        [(ngModel)]="predicate"
        (click)="loadInvitations()"
      >
        My Friends
      </button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <app-member-card
        [member]="member"
        [context]="predicate === 'friends' ? 'friends' : 'invitations'"
        [invitationType]="predicate"
        (invitationHandled)="loadInvitations()"
      >
      </app-member-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
